body {
  background-color: black;
  color: #ccc;
}
a:link {
  color: #66f;
}
a:visited {
  color: #f6f;
}

.ladder-classes {
  display: flex;
}
.ladder-body {
  display: flex;
}
.ladder-body > * {
  margin: 1em;
  border: 1px solid grey;
  border-radius: 1em;
}
nav {
  display: flex;
}
img.ability-icon,
img.class-icon {
  height: 2em;
  border-radius: 1em;
  margin: 0;
}
.class-filter-entry {
  text-align: center;
}
.class-filter-entry.selected {
  border: 0.15em solid #660;
  border-radius: 0.5em;
  background: #330;
}
.class-filter-entry img.class-icon {
  height: 4em;
  border-radius: 1em;
}
.ability-filter table {
  /* padding-left: 0; */
  /* max-height: 25em; */
  /* overflow: auto; */
  border-collapse: collapse;
}
.ability-filter-entry.selected {
  border: 0.15em solid #660;
  border-radius: 1em;
  background: #330;
}
.ability-filter-entry .percent {
  float: right;
}
meter {
  width: 100%;
}
