body {
  background-color: black;
  color: #ccc;
}
a:link {
  color: #66f;
}
a:visited {
  color: #f6f;
}

nav ul {
  border: 1px solid grey;
  border-radius: 0.5em;
  margin: 0.5em;
  padding: 0.5em;
}
li {
  list-style: none;
}
nav ul.class-selector {
  display: flex;
}
nav ul.class-selector li {
  height: 100%;
  line-height: 2em;
  padding-right: 0.5em;
}
nav ul.class-selector li * {
  vertical-align: middle;
}
nav .selected {
  border-radius: 0.2em;
  background-color: #330;
  color: #cc0;
}

.ladder-classes {
  display: flex;
}
.ladder-body {
  display: flex;
}
.ladder-body > * {
  margin: 1em;
  border: 1px solid grey;
  border-radius: 1em;
}
nav li:hover,
.ladder-entry:hover,
.ability-filter-entry:hover,
.class-filter-entry:hover {
  background-color: #110;
  border-radius: 0.5em;
}
nav {
  display: flex;
}
img.ability-icon,
img.class-icon {
  height: 2em;
  border-radius: 1em;
  margin: 0;
}
.class-filter-entry {
  text-align: center;
}
.class-filter-entry.selected {
  border: 0.15em solid #660;
  border-radius: 0.5em;
  background: #330;
}
.class-filter-entry img.class-icon {
  height: 4em;
  border-radius: 1em;
}
.ability-filter table {
  /* padding-left: 0; */
  /* max-height: 25em; */
  /* overflow: auto; */
  border-collapse: collapse;
}
.ability-filter-entry.selected {
  border: 0.15em solid #660;
  border-radius: 1em;
  background: #330;
}
.ability-filter-entry .percent {
  float: right;
}
meter {
  width: 100%;
}
.username {
  color: grey;
  font-size: 70%;
}
